@model IEnumerable<ProyectoWebCoworking.Models.Usuario>
@{
	ViewData["Title"] = "Gestionar Usuarios";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestión de Usuarios</h1>

<table class="table table-striped">
	<thead>
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rol)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rol)
				</td>
				<td>
					<a asp-action="EditRol" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar Rol</a> |
					<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalConfirmarBorrado" data-id-usuario="@item.Id" data-nombre-usuario="@item.Email">Eliminar</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="modalConfirmarBorrado" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Confirmar Eliminación</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
			</div>
			<div class="modal-body">
				<p>¿Estás seguro que deseas eliminar al usuario: <strong id="nombreUsuarioModal"></strong>?</p>
				<p class="text-danger">Esta acción no se puede deshacer.</p>
			</div>
			<div class="modal-footer">
				<form asp-action="Delete" method="post">
					<input type="hidden" name="id" id="idUsuarioHidden" />

					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		//Esperamos a que la web esté lista
		$(document).ready(function () {

			//Capturamos el evento "show.bs.modal"
			$('#modalConfirmarBorrado').on('show.bs.modal', function (event) {

				//"event.relatedTarget" es el botón eliminar
				var button = $(event.relatedTarget);

				//Extraemos la información de los atributos del botón
				var id = button.data('id-usuario');
				var nombre = button.data('nombre-usuario');

				var modal = $(this);

				//Actualizamos el texto del modal con el nombre y el id
				modal.find('.modal-body #nombreUsuarioModal').text(nombre);
				modal.find('.modal-footer #idUsuarioHidden').val(id);
			});
		});
	</script>
}
